.Header {
    height: auto;
    width: 100%;

    .C_header {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        gap: 20px;

        .bar_first {
            @media (max-width: 520px) {
                justify-content: center;
                flex-direction: column;
                height: 80px;
            }

            display: flex;

            align-items: center;
            justify-content: space-between;
            height: 35px;


            .icons_social {
                display: flex;
                gap: 40px;
                align-items: center;

                img {
                    cursor: pointer;
                }
            }

            .location_map {
                display: flex;
                gap: 10px;
                align-items: center;
                cursor: pointer;
                border: none;
                background-color: transparent;
                font-size: 16px;
                letter-spacing: 0.01px;
                padding: 5px;
                border-radius: 5px;
                font-weight: 500;

            }
        }

        .bar_second {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;

            .btn_search {
                display: flex;
                justify-content: center;
                height: 40px;
                width: 200px;
                align-items: center;
                gap: 10px;
                background-color: transparent;
                border: 1px solid;
                border-color: rgb(213, 213, 213);
                padding: 0 20px;
                cursor: pointer;
                border-radius: 50px;
                font-size: 14px;
                color: gray;

                &:hover {
                    border: 1px solid;
                    border-color: rgb(164, 164, 164);
                    transition: border-color 0.1s linear;
                    color: rgb(71, 71, 71);
                    transition: color 0.1s linear;

                }
            }

            .btn_whatsapp {
                display: flex;
                height: 40px;
                width: 200px;
                align-items: center;
                justify-content: center;
                gap: 10px;
                background-color: #00a884;
                border: 1px solid;
                border-color: rgb(164, 164, 164);
                padding: 0 20px;
                cursor: pointer;
                border-radius: 50px;
                font-size: 14px;
                color: white;

                &:hover {
                    border: 1px solid;
                    border-color: rgb(213, 213, 213);
                    transition: border-color 0.1s linear;
                    color: #00a884;
                    background-color: white;

                }
            }

            i {
                font-size: 18px;
            }

            .logo {
                display: flex;
                align-items: center;
                width: 350px;
                justify-content: center;
                gap: 10px;


                img {
                    width: 30px;
                    height: 30px;
                }
            }

            .icons_user {
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }

        .third_bar {
            display: flex;
            align-items: center;
            justify-content: center;


            .options_nav {
                display: flex;
                max-width: 480px;
                width: 100%;
                align-items: center;
                justify-content: space-between;

                a {
                    color: black !important;
                    font-weight: 600;

                    &:hover {
                        color: #E1927F !important;
                    }


                }
            }
        }
    }
    
}
.mapsContainer {
    @media (max-width: 768px) {
        height: 80vh !important;
    }

    height: 50vh !important;

    .p-sidebar-header,
    .p-sidebar-content {
        background: white !important;
    }

    .p-sidebar-header {
        padding: 0 !important;
        height: 0 !important;
    }

    .p-sidebar-content {
        padding: 0px !important;
    }

    .formExt {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h2 {
            margin: 0;
        }

        .cButton {
            display: flex;
            justify-content: end;

            button {
                width: 150px;
                height: 40px;
                background: linear-gradient(to left, #191919e9, rgb(55, 59, 72));
                border: none;
            }
        }
    }

    .p-float-label {
        width: 100%;

        .p-inputtext,
        .p-inputnumber {
            width: 100% !important;
            margin-top: 5px !important;
        }
    }

}