.TemplatesExample {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    h1 {
        font-size: 34px;
        font-family: "Libre Bodoni", serif;
    }

    .containerTemplates {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .cardTemplate {
            width: 350px;
            height: 300px;
        }
    }
}

.itemTemplate_a {
    width: 100%;

    .itemTemplate {
        cursor: pointer;
    }
}